body {

    height: 100vh;
    padding: 0;

}

h1 {
    text-align: center;
    padding: 20px;
}

.scores {
    display: flex;
}

.player-score {
    height: 50px;
    width: 100px;
}

.comp-score {
    height: 50px;
    width: 100px;
    margin-left: auto;

}

.buttons {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

div img {
    max-height: 300px;
    min-height: 200px;
    transition: 100ms;
}

img:hover {
    transform: scale(1.02);
}
